JWT_SECRET=ri1ZXt7Q8hBRsY71RwXsbCfhuncr2WiE9K3Bas/OAFMgkxkZeWIrvNrYtfSMuKm/
FIREBASE_DATABASE_URL=https://cleanpage-6fa02-default-rtdb.firebaseio.com
FIREBASE_DATABASE_AUTH_TOKEN=YOUR_SERVER_DATABASE_TOKEN
ROAMTECH_API_KEY=cd324ae44e24d73636f3d978d17b9289
ROAMTECH_PARTNER_ID=227
SHORTCODE=CLENLAUNDRY
SMS_BASE_URL=https://api.v2.emalify.com
SMS_NOTIFICATIONS_ENABLED=true
